a {
	font-size: 40px;
	color: black;
}

.ui-btn-text, .ui-input-text {
	font-size: 40px !important;
}

.button1 {
	background-color: #04AA6D;
}

.header, .ui-title {
	font-size: 40px !important;
}

.fullscreen {
	width: 100%;
}